language: swift
osx_image: xcode10

before_install:
  - gem install xcpretty

before_script:
  - source "./Scripts/setup_simulator"
  - git submodule sync --recursive && git submodule update --recursive --init

script: set -o pipefail

jobs:
  include:
    - script: "./Scripts/test_buy"
      name: "Test Buy"
    - script: "./Scripts/test_buy_tv"
      name: "Test Buy TV"
    - script: "./Scripts/test_buy_watch"
      name: "Test Buy Watch"
    - script: "./Scripts/test_pay"
      name: "Test Pay"
    - script: "./Scripts/test_sample"
      name: "Test Sample App"
