name: Create SDK release

on: 
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: macOS-latest
    
    steps:
    
    - uses: actions/checkout@master
      with:
        ref: 'master'
        
    - name: Get SDK version
      id: sdk-version
      run: |
        SDK_VERSION="$(./Scripts/get_sdk_version)"
        echo "::set-env name=SDK_VERSION::$SDK_VERSION"

    - name: Get API Version
      id: api-version
      run: |
        API_VERSION="$(./Scripts/get_api_version)"
        echo "::set-env name=API_VERSION::$API_VERSION"

    - name: Create a draft release
      uses: actions/github-script@0.9.0
      with:
        script: |
          const api_version = process.env.API_VERSION
          const sdkVersion = process.env.SDK_VERSION
          github.repos.createRelease({
            owner: context.repo.owner,
            repo: context.repo.repo,
            name: sdkVersion,
            body: "Release notes:" +
              "\n- https://shopify.dev/concepts/about-apis/versioning/release-notes/" + api_version + "#storefront-api-changes",
            tag_name: sdkVersion,
            target_commitish: 'master',
            draft: true,
            prerelease: false,
          })
